{% extends 'base.html' %}
{% load static %}

{% block title %}Shirish Kadam{% endblock %}

{% block body %}


<!------------------- Intro Card ------------------>


<div class="row">
        <div id="index-banner" class="card light-blue">
        <div class="no-pad-bot card-content">
            <div class="container">
                <div class="row valign-wrapper">

                    <div class="col s12 m12 l8">
                        <h3 class="header white-text text-lighten-2">Shirish Kadam</h3>
                        <h5 class="header white-text light">Android Developer</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="mailto:shirishkadam35@yahoo.com"><i class="material-icons">email</i> shirishkadam35@yahoo.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://shirishkadam.com/" target="_blank"><i class="material-icons">public</i> www.shirishkadam.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="tel:+917588203570"><i class="material-icons">phone</i> +91 7588203570</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://goo.gl/maps/h2t8Y7ApjCC2" target="_blank"><i class="material-icons">room</i> Bengaluru, Karnataka</a></li>
                        </ul>
                        <a href="https://twitter.com/5hirish" target="_blank"><img src="{% get_static_prefix %}img/twitter.png" class="circle z-depth-1"></a>
                        <a href="https://github.com/5hirish" target="_blank"><img src="{% get_static_prefix %}img/github.png" class="circle z-depth-1"></a>
                        <a href="https://www.linkedin.com/in/shirishkadam/" target="_blank"><img src="{% get_static_prefix %}img/linkedin.png" class="circle z-depth-1"></a>

                        <!-- https://www.iconfinder.com/iconsets/capsocial-round -->
                    </div>

                    <div class="col l4">
                        <img src="{% get_static_prefix %}img/5hirish_profile.jpg" alt="" class="materialboxed circle responsive-img z-depth-3">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="card-action">
              <a href="#" class="white-text">Contact Me</a>
        </div>-->
    </div>
</div>



<!------------------- Summary ------------------>



<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <p  align="justify">&nbsp &nbsp &nbsp I am an <b>Android Developer</b> with more than <b>2 years of experience</b> in publishing Android applications.
                    I am a huge admirer of <b>Material Design</b> and try to follow its guidelines as much as possible although not afraid to try something new. </p>
                <p  align="justify">&nbsp &nbsp &nbsp I also have a hands-on experience in <b>Django Framework</b>. When I am not working on Android, I usually am working with <b>Python</b>.
                    I just love the simplicity Python has to offer.</p>
                <p  align="justify">&nbsp &nbsp &nbsp  Besides my regular routine, I am researching on <b>Natural Language Processing</b> and know my way around various Python libraries;
                    Scikit-Learn, Pandas, spaCy, Gensim.
                    If you want to have an interesting discussion about Machine Learning and Natural Language Processing,
                    I more than happy to chat.</p>
            </div>
            <div class="card-action">
              <a href="#contact_me">Contact Me</a>
              <a href="#">Download Resume</a>
            </div>
        </div>
    </div>
</div>


<!------------------- Work and Education ------------------>

<div class="row">
    <div class="s12 m12 l12">
        <div class="card">
            <div class="card-content">

                <span class="card-title">Work Experience</span>

                <div class="divider"style="margin-bottom: 10px"></div>

                    <div class="row">
                        <div class="col s12 m8 l9">
                            <h3 style="font-size: 22px; color: #303F9F; margin-bottom: 5px; margin-top: 0"><b>Android Developer</b></h3>
                            <h4 style="font-size: 16px; color: #FF5252; margin-top: 0">Alleviate Mobility</h4>
                            <p>An	Android	app	publisher	trying	to	mitigate	daily	problems.<br>
                            DayMan - Day Scheduler (Available on Google	Play Store)<br>
                            CitiZen	Gam (Open Source on	GitHub)</p>

                        </div>
                        <div class="col s12 m4 l3">
                            <a class=""><i class="material-icons teak">date_range</i> From Dec 2014 (2 yrs 7 mos) <br></a>
                            <i class="material-icons green-text">location_on</i> Nashik, MH <br>
                            <a href="https://play.google.com/store/apps/dev?id=5860660234681628777" target="_blank"><i class="material-icons">web</i> Google Play Store</a>
                        </div>
                    </div>

                <div class="divider" style="margin-bottom: 10px"></div>

                    <div class="row">
                        <div class="col s12 m8 l9">
                            <h3 style="font-size: 22px; color: #303F9F; margin-bottom: 5px; margin-top: 0"><b>Intern Android Developer</b></h3>
                            <h4 style="font-size: 16px; color: #FF5252; margin-top: 0">Pawsome Hotels Pvt. Ltd.</h4>
                            <p>A Hyderabad based startup helping hotels become pet-friendly and <br>
                            facilitating pet transportation all over India.
                            <br>Developed an Android app to help the Pawsome team manage client orders and their traveling specifications.</p>

                        </div>
                        <div class="col s12 m4 l3">
                            <a class=""><i class="material-icons teak">date_range</i> Jun - Jul 2016 (2 mos) <br></a>
                            <i class="material-icons green-text">location_on</i> Hyderabad, TS <br>
                            <a href="http://www.pawsomehotels.com" target="_blank"><i class="material-icons">web</i> Pawsome Hotels</a>
                        </div>
                    </div>


                <div class="divider" style="margin-bottom: 10px"></div>

                <span class="card-title">Education</span>

                <div class="divider" style="margin-bottom: 20px"></div>

                    <div class="row">
                        <div class="col s12 m8 l9">
                            <h3 style="font-size: 22px; color: #303F9F; margin-bottom: 5px; margin-top: 0"><b>Bachelor of	Engineering	- (Computer	Engineering)</b></h3>
                            <h4 style="font-size: 16px; color: #FF5252; margin-top: 0">Savitribai Phule	Pune University</h4>
                            <p>Amrutvahini College of Engineering, Sangamner<br>
                            Activities: Android Development, Web Development, Git, Natural Language Processing, Linux.</p>

                        </div>
                        <div class="col s12 m4 l3">
                            <i class="material-icons">date_range</i> Jun 2013 - Jun 2017<br>
                            <i class="material-icons">trending_up</i> Aggregate - 68 % <br>
                        </div>
                    </div>

                <div class="divider" style="margin-bottom: 10px"></div>

                    <div class="row">
                        <div class="col s12 m8 l9">
                            <h3 style="font-size: 22px; color: #303F9F; margin-bottom: 5px; margin-top: 0"><b>Higher Secondary School Certificate (12th)</b></h3>
                            <h4 style="font-size: 16px; color: #FF5252; margin-top: 0">Maharashtra State Board - Nashik</h4>
                            <p>G.E.S H.A.L High School and Junior College<br>
                            Activities: WordPress, Blogging.</p>

                        </div>
                        <div class="col s12 m4 l3">
                            <i class="material-icons">date_range</i> Jun 2011 - Mar 2013<br>
                            <i class="material-icons">trending_up</i> Percentage - 65 % <br>
                        </div>
                    </div>

                <div class="divider" style="margin-bottom: 10px"></div>

                    <div class="row">
                        <div class="col s12 m8 l9">
                            <h3 style="font-size: 22px; color: #303F9F; margin-bottom: 5px; margin-top: 0"><b>Secondary School Certificate (10th)</b></h3>
                            <h4 style="font-size: 16px; color: #FF5252; margin-top: 0">Maharashtra State Board - Nashik</h4>
                            <p>G.E.S H.A.L High School and Junior College<br>
                            Activities:  Vice School Captain, NCC Petty Officer Cadet, Drama, Elocution.</p>

                        </div>
                        <div class="col s12 m4 l3">
                            <i class="material-icons">date_range</i> Jun 2010 - Mar 2011<br>
                            <i class="material-icons">trending_up</i> Percentage - 88 % <br>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>


<!------------------- Skill set ------------------>


<div class="row">
    <div class="col l2"></div>
    <div class="col s12 m12 l8">
        <div class="card-panel center-align">
            <div class="row">
                <div class="col s12 m12 l4">
                    <div class="chip hoverable z-depth-1"><i class="material-icons">developer_mode</i> Android SDK</div>
                </div>
                <div class="col s12 m12 l8">
                    <div class="progress z-depth-2">
                        <div class="determinate" style="width: 80%"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l4">
                    <div class="chip hoverable z-depth-1"><i class="material-icons">view_compact</i> Python Django</div>
                </div>
                <div class="col s12 m12 l8">
                    <div class="progress z-depth-2">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                </div>
            </div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">assessment</i> Firebase, AdMob, Analytics</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">devices</i> Java</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">code</i> Python 3</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">save</i> SQLite</div><br><br>
            <div class="chip hoverable z-depth-1"><i class="material-icons">storage</i> MySQL</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">format_align_right</i> JSON / XML</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">laptop</i> C / C++</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">chat</i> Natural Langugae Processing</div>

        </div>
    </div>
    <div class="col l2"></div>
</div>


<!------------------- Projects ------------------>


<div class="row">
    <div class="col s12 m12 l3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="{% get_static_prefix %}img/project/proj_1.png">
            </div>
            <div class="card-content">
                <span class="card-title black-text">ADAM - Question Answering System</span>
                <p>ADAM	is a Closed	Domain Question	Answering
                System which follows a Cognitive Approach in
                answering a	question posed in Natural
                Language.</p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="{% get_static_prefix %}img/project/proj_2.png">
            </div>
            <div class="card-content">
                <span class="card-title black-text">Iris based Authentication for Attendance</span>
                <p>Iris	based Authentication or	MGNREGA	workers
                    to eliminate frauds	in the	system.<br>
                    <b>Smart India	Hackathon 2017 - Finalist</b></p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="{% get_static_prefix %}img/project/proj_3.png">
            </div>
            <div class="card-content">
                <span class="card-title black-text">DayMan - Day Scheduler</span>
                <p>An intelligent daily	task scheduler and	manager.
                    Allows task	to be reminded by time and location.
                    It provides the	ability	to forward tasks to	the
                    next day, hide tasks, edit or share	tasks.<br>
                    <b>Google Play	Store Rating: 4.1<br>
                    1500+ Device Installs</b></p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div><div class="col s12 m12 l3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="{% get_static_prefix %}img/project/proj_4.png">
            </div>
            <div class="card-content">
                <span class="card-title">Lirica</span>
                <p>App that	implements Web Scraping	to download
                    the	lyrics of a	song and embed	them in	ID3	tags
                    of the song. It also acts as a	music player,
                    displaying and	editing	lyrics.</p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div>
</div>


<!------------------- Achivements ------------------>


<div class="row">
    <div class="col s12 m12 l12">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img class="slider-img" src="{% get_static_prefix %}img/achi_1.jpg">
                    <div class="caption left-align">
                        <h3>Smart India Hackathon 2017</h3>
                        <h5 class="light grey-text text-lighten-3">Grand Finalist -	36 hour nonstop programming	competition.</h5>
                    </div>
                </li>
                <li>
                    <img class="slider-img" src="{% get_static_prefix %}img/achi_2.jpg">
                    <div class="caption left-align">
                        <h3>TCS	CodeVita Season V 2016</h3>
                        <h5 class="light grey-text text-lighten-3">TCS CodeVita 2016 Competitive Programming Rank 2023 (Top 5%)</h5>
                    </div>
                </li>
                <li>
                    <img class="slider-img" src="{% get_static_prefix %}img/achi_3.png">
                    <div class="caption center-align">
                        <h3 class="black-text">Published academic paper on Natural Language Processing</h3>
                        <h5 class="black-text">"A Cognitive	approach in	Question Answering System" - (IJECE)</h5>
                    </div>
                </li>
                <li>
                    <img class="slider-img" src="{% get_static_prefix %}img/achi_4.png">
                    <div class="caption right-align">
                        <h3 class="black-text">GitHub Punch Card</h3>
                        <h5 class="black-text">35+ repositories	and	461+ contributions</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!------------------- Contact Me ------------------>


<div class="row" id="contact_me">
    <div class="col s12 m12 l2"></div>
    <div class="col s12 m12 l8">
        <div class="row">
            <form class="col s12" method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 m12 l6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="name" name="name" type="text" class="validate" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12 m12 l6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email Address</label>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">edit</i>
                        <input id="subject" name="subject" type="text" class="validate" required>
                        <label for="subject">Subject</label>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">sms</i>
                        <textarea id="message" name="message" class="materialize-textarea"></textarea>
                        <label for="message">Your Message</label>
                    </div>
                    <button class="btn waves-effect waves-light col s6 offset-s6 m4 offset-m8 l2 offset-l10" type="submit" name="action">Send
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col s12 m12 l2"></div>
</div>


<!------------- Message Response ----------------->


{% if status_code == 200 %}
    <blockquote>
        Hi, {{ con_name }}. Thank you for getting in touch, I will reply as soon as possible.<br>
        - Shirsh Kadam
    </blockquote>
{% endif %}




<script src="{% get_static_prefix %}js/init.js"></script>

{% endblock %}