{% extends 'base.html' %}
{% load static %}

{% block title %}Shirish Kadam{% endblock %}

{% block body %}


<!------------------- Intro Card ------------------>


<div class="row">
        <div id="index-banner" class="card light-blue">
        <div class="no-pad-bot card-content">
            <div class="container">
                <div class="row valign-wrapper">

                    <div class="col s8">
                        <h3 class="header white-text text-lighten-2">Shirish Kadam</h3>
                        <h5 class="header white-text light">Android Developer</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="mailto:shirishkadam35@yahoo.com"><i class="material-icons">email</i> shirishkadam35@yahoo.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://shirishkadam.com/" target="_blank"><i class="material-icons">public</i> www.shirishkadam.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="tel:+917588203570"><i class="material-icons">phone</i> +91 7588203570</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://goo.gl/maps/7A936nACSND2" target="_blank"><i class="material-icons">room</i> Nashik, Maharashtra</a></li>
                        </ul>
                        <a href="https://twitter.com/5hirish" target="_blank"><img src="{% get_static_prefix %}img/twitter.png" class="circle z-depth-1"></a>
                        <a href="https://github.com/5hirish" target="_blank"><img src="{% get_static_prefix %}img/github.png" class="circle z-depth-1"></a>
                        <a href="https://www.linkedin.com/in/shirishkadam/" target="_blank"><img src="{% get_static_prefix %}img/linkedin.png" class="circle z-depth-1"></a>

                        <!-- https://www.iconfinder.com/iconsets/capsocial-round -->
                    </div>

                    <div class="col s4">
                        <img src="{% get_static_prefix %}img/5hirish_profile.jpg" alt="" class="materialboxed circle responsive-img z-depth-3">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="card-action">
              <a href="#" class="white-text">Contact Me</a>
        </div>-->
    </div>
</div>



<!------------------- Summary ------------------>



<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <p  align="justify">&nbsp &nbsp &nbsp I am an <b>Android Developer</b> with more than <b>2 years of experience</b> in publishing Android applications.
                    I am a huge admirer of <b>Material Design</b> and try to follow its guidelines as much as possible although not afraid to try something new. </p>
                <p  align="justify">&nbsp &nbsp &nbsp I also have a hands-on experience in <b>Django Framework</b>. When I am not working on Android, I usually am working with <b>Python</b>.
                    I just love the simplicity Python has to offer.</p>
                <p  align="justify">&nbsp &nbsp &nbsp  Besides my regular routine, I am researching on <b>Natural Language Processing</b> and know my way around various Python libraries;
                    Scikit-Learn, Pandas, spaCy, Gensim.
                    If you want to have an interesting discussion about Machine Learning and Natural Language Processing,
                    I more than happy to chat.</p>
            </div>
            <div class="card-action">
              <a href="#">Contact Me</a>
              <a href="#">Download Resume</a>
            </div>
        </div>
    </div>
</div>


<!------------------- Work and Education ------------------>


<div class="row">
    <ul class="collection with-header z-depth-2">

        <li class="collection-header"><h5>Work Experience</h5></li>

        <li class="collection-item avatar">
            <i class="material-icons circle green">android</i>
            <span class="title"><b>Android Developer</b></span>
            <p>Alleviate Mobility<br>
             An	Android	app	publisher	trying	to	mitigate	daily	problems.
            <ul>
                <li>DayMan - Day Scheduler (Available on Google	Play Store)</li>
                <li>CitiZen	Gam (Open Source on	GitHub)<li>
            </ul>
            <p class="secondary-content">
                <i class="material-icons">date_range</i> From Dec 2014 (2 yrs 7 mos) <br>
                <i class="material-icons">location_on</i> Nashik, MH <br>
                <a href="https://play.google.com/store/apps/dev?id=5860660234681628777" target="_blank"><i class="material-icons">web</i> Google Play Store</a>
            </p>
        </li>

        <li class="collection-item avatar">
            <i class="material-icons circle">work</i>
            <span class="title"><b>Intern Android Developer</b></span>
            <p>Pawsome Hotels Pvt. Ltd.<br>
             A Hyderabad based startup helping hotels become pet-friendly and <br>
                facilitating pet transportation all over India.
                <br>Developed an Android app to help the Pawsome team manage client orders and their traveling specifications.
            </p>
            <p class="secondary-content">
                <i class="material-icons">date_range</i> Jun - Jul 2016 (2 mos) &nbsp &nbsp &nbsp &nbsp &nbsp <br>
                <i class="material-icons">location_on</i> Hyderabad, TS <br>
                <a href="http://www.pawsomehotels.com" target="_blank"><i class="material-icons">web</i> Pawsome Hotels</a>
            </p>
        </li>

        <li class="collection-header"><h5>Education</h5></li>

        <li class="collection-item avatar">
            <i class="material-icons circle">school</i>
            <span class="title"><b>Bachelor of	Engineering	- (Computer	Engineering)</b></span>
            <p>Savitribai Phule	Pune University<br>
            Amrutvahini College of Engineering, Sangamner<br>
            Activities: Android Development, Web Development, Git, Natural Language Processing, Linux.
            </p>
            <p class="secondary-content">
                <i class="material-icons">date_range</i> Jun 2013 - Jun 2017<br>
                <i class="material-icons">trending_up</i> Aggregate - 68 % <br>
            </p>
        </li>

        <li class="collection-item avatar">
            <i class="material-icons circle">account_balance</i>
            <span class="title"><b>Higher Secondary School Certificate (12th)</b></span>
            <p>Maharashtra State Board - Nashik<br>
            G.E.S H.A.L High School and Junior College<br>
            Activities: WordPress, Blogging.
            </p>
            <p class="secondary-content">
                <i class="material-icons">date_range</i> Jun 2011 - Mar 2013<br>
                <i class="material-icons">trending_up</i> Percentage - 65 % <br>
            </p>
        </li>

        <li class="collection-item avatar">
            <i class="material-icons circle">location_city</i>
            <span class="title"><b>Secondary School	Certificate (10th)</b></span>
            <p>Maharashtra State Board - Nashik<br>
            G.E.S H.A.L High School and Junior College<br>
            Activities:  Vice School Captain, NCC Petty Officer Cadet, Drama, Elocution.
            </p>
            <p class="secondary-content">
                <i class="material-icons">date_range</i> Jun 2010 - Mar 2011<br>
                <i class="material-icons">trending_up</i> Percentage - 88 % <br>
            </p>
        </li>
    </ul>
</div>


<!------------------- Skill set ------------------>


<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <div class="card-panel center-align">
            <div class="row">
                <div class="col s4">
                    <div class="chip hoverable z-depth-1"><i class="material-icons">developer_mode</i> Android SDK</div>
                </div>
                <div class="col s8">
                    <div class="progress z-depth-2">
                        <div class="determinate" style="width: 80%"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="chip hoverable z-depth-1"><i class="material-icons">view_compact</i> Python Django</div>
                </div>
                <div class="col s8">
                    <div class="progress z-depth-2">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                </div>
            </div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">assessment</i> Firebase, AdMob, Analytics</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">devices</i> Java</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">code</i> Python 3</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">save</i> SQLite</div><br><br>
            <div class="chip hoverable z-depth-1"><i class="material-icons">storage</i> MySQL</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">format_align_right</i> JSON / XML</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">laptop</i> C / C++</div>
            <div class="chip hoverable z-depth-1"><i class="material-icons">chat</i> Natural Langugae Processing</div>

        </div>
    </div>
    <div class="col s2"></div>
</div>


<!------------------- Projects ------------------>


<div class="row">
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="{% get_static_prefix %}img/project/proj_1.png">
            </div>
            <div class="card-content">
                <span class="card-title black-text">ADAM - Question Answering System</span>
                <p>ADAM	is a Closed	Domain Question	Answering
                System which follows a Cognitive Approach in
                answering a	question posed in Natural
                Language.</p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="http://lorempixel.com/250/250/nature/4">
            </div>
            <div class="card-content">
                <span class="card-title black-text">Iris based Authentication for Attendance</span>
                <p>Iris	based Authentication or	MGNREGA	workers
                    to eliminate frauds	in the	system.<br>
                    <b>Smart India	Hackathon 2017 - Finalist</b></p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="http://lorempixel.com/250/250/nature/4">
            </div>
            <div class="card-content">
                <span class="card-title black-text">DayMan - Day Scheduler</span>
                <p>An intelligent daily	task scheduler and	manager.
                    Allows task	to be reminded by time and location.
                    It provides the	ability	to forward tasks to	the
                    next day, hide tasks, edit or share	tasks.<br>
                    <b>Google Play	Store Rating: 4.1<br>
                    1500+ Device Installs</b></p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div><div class="col s3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed responsive-img" src="http://lorempixel.com/250/250/nature/4">
            </div>
            <div class="card-content">
                <span class="card-title">Lirica</span>
                <p>App that	implements Web Scraping	to download
                    the	lyrics of a	song and embed	them in	ID3	tags
                    of the song. It also acts as a	music player,
                    displaying and	editing	lyrics.</p>
            </div>
            <div class="card-action">
                <a href="#">View Project</a>
            </div>
        </div>
    </div>
</div>


<!------------------- Achivements ------------------>


<div class="row">
    <div class="col s12">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{% get_static_prefix %}img/achi_1.jpg">
                    <div class="caption left-align">
                        <h3>Smart India Hackathon 2017</h3>
                        <h5 class="light grey-text text-lighten-3">Grand Finalist -	36 hour nonstop programming	competition.</h5>
                    </div>
                </li>
                <li>
                    <img src="{% get_static_prefix %}img/achi_2.jpg">
                    <div class="caption right-align">
                        <h3>TCS	CodeVita Season V 2016</h3>
                        <h5 class="light grey-text text-lighten-3">TCS CodeVita 2016 Competitive Programming Rank 2023 (Top 5%)</h5>
                    </div>
                </li>
                <li>
                    <img src="{% get_static_prefix %}img/achi_3.png">
                    <div class="caption center-align">
                        <h3>Published academic paper on Natural Language Processing</h3>
                        <h5 class="light grey-text text-lighten-3">"A Cognitive	approach in	Question Answering System" - (IJECE)</h5>
                    </div>
                </li>
                <li>
                    <img src="{% get_static_prefix %}img/achi_4.png">
                    <div class="caption center-align">
                        <h3>GitHub Punch Card</h3>
                        <h5 class="light grey-text text-lighten-3">35+ repositories	and	461+ contributions</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!------------------- Contact Me ------------------>


<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate" required>
                        <label for="icon_prefix">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_telephone" type="email" class="validate" required>
                        <label for="icon_telephone">Email Address</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <input id="icon_prefix" type="text" class="validate" required>
                        <label for="icon_prefix">Subject</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">sms</i>
                        <textarea id="message" class="materialize-textarea"></textarea>
                        <label for="message">Your Message</label>
                    </div>
                    <button class="btn waves-effect waves-light col s2 offset-s10" type="submit" name="action">Send
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col s2"></div>
</div>


<script src="{% get_static_prefix %}js/init.js"></script>

{% endblock %}