{% extends 'base.html' %}
{% load static %}

{% block title %}Shirish Kadam{% endblock %}

{% block body %}

<div class="row">
        <div id="index-banner" class="card light-blue">
        <div class="no-pad-bot card-content">
            <div class="container">
                <div class="row valign-wrapper">

                    <div class="col s8">
                        <h3 class="header white-text text-lighten-2">Shirish Kadam</h3>
                        <h5 class="header white-text light">Android Developer</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">email</i> shirishkadam35@yahoo.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">public</i> www.5hirish.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">phone</i> +91 7588203570</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">room</i> Nashik, Maharashtra</a></li>
                        </ul>
                        <a href=""><img src="{% get_static_prefix %}img/twitter.png" class="circle z-depth-1"></a>
                        <a href=""><img src="{% get_static_prefix %}img/github.png" class="circle z-depth-1"></a>
                        <a href=""><img src="{% get_static_prefix %}img/linkedin.png" class="circle z-depth-1"></a>

                        <!-- https://www.iconfinder.com/iconsets/capsocial-round -->
                    </div>

                    <div class="col s4">
                        <img src="{% get_static_prefix %}img/5hirish_profile.jpg" alt="" class="materialboxed circle responsive-img z-depth-3">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="card-action">
              <a href="#" class="white-text">Contact Me</a>
        </div>-->
    </div>
</div>

<script src="{% get_static_prefix %}js/init.js"></script>

{% endblock %}