{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{% get_static_prefix %}img/favicon.ico" type="image/x-icon">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/materialize.min.css" media="screen,projection"/>
    <link href="{% get_static_prefix %}css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% get_static_prefix %}css/palette.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <title>Shirish Kadam</title>
    <meta name="description" content="Shirish Kadam, Android Developer, published apps on Google PlayStore. 2yrs+ experience. Django, Python hands-on experience." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@5hirish">
    <meta name="twitter:title" content="Shirish Kadam">
    <meta name="twitter:description" content="Shirish Kadam, Android Developer, published apps on Google PlayStore. 2yrs+ experience.">
    <meta name="twitter:creator" content="@5hirish">

</head>
<body>
<main>
    <nav class="default-primary-color" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo white-text">5hirish</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://shirishkadam.com/" target="_blank" class="white-text">Blog</a></li>
                <li><a href="/projects" class="white-text">Projects</a></li>
                <li><a class="waves-effect waves-light btn accent-color" href="/resume/download">Resume<i class="material-icons right">file_download</i></a></li>
            </ul>
            <ul class="side-nav default-primary-color" id="nav-mobile">
                <li><a href="" class="white-text">5hirish</a></li>
                <li><a href="https://shirishkadam.com/" target="_blank" class="white-text">Blog</a></li>
                <li><a href="/projects" class="white-text">Projects</a></li>
                <li><a class="waves-effect waves-light btn accent-color" href="/resume/download">Resume<i class="material-icons right">file_download</i></a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>

    <br>

    <div id="resume" class="container">

            {% block body%}

            {% endblock %}
    </div>

</main>

<footer class="page-footer default-primary-color">
    <div class="container">
        <div class="row">
            <div class="col l6 m12 s12">
                <h5 class="white-text">Shirish Sharad Kadam</h5>

                <p class="grey-text text-lighten-4">
                    "ALL GLORY COMES FROM DARING TO BEGIN."<br>
                    Android Developer, Django Developer<br>
                    Natural Language Processing
                </p>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Join Me</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/5hirish"><img style="vertical-align:middle; margin-bottom:5px" src="{% get_static_prefix %}img/github.png"> Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/shirishkadam/"><img style="vertical-align:middle; margin-bottom:5px" src="{% get_static_prefix %}img/linkedin.png"> LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/5hirish"><img style="vertical-align:middle; margin-bottom:5px" src="{% get_static_prefix %}img/twitter.png"> Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017, Shirish Kadam
            <a class="grey-text text-lighten-4 right" href="https://shirishkadam.com/" target="_blank">shirishkadam.com</a>
        </div>
    </div>
</footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/materialize.min.js"></script>
    <script src="{% get_static_prefix %}js/init.js"></script>
    <script src="{% get_static_prefix %}js/google_analytics.js"></script>


</body>
</html>